<!DOCTYPE html>
<html>
<head>
    <title>Olaf T.A. Janssen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../css/about.css">
</head>
<body>

<div class="nav-panel typeset">
    <h1>Olaf T.A. Janssen</h1>
    <nav>
        <ul>
            <li>
                <a href="/about" class="current">Me</a>
            </li>
            <li>
                <a href="/">Projects</a>
            </li>
            <!--<li>-->
                <!--<a href="ideas">Ideas</a>-->
            <!--</li>-->
        </ul>
    </nav>
</div>

<section class="project-container typeset">
    <img src="" class="about-image">
    <article class="about">
{{{ contents }}}
    </article>
</section>

</body>
</html>

<script>

</script>