<!DOCTYPE html>
<html>
<head>
    <title>
        {{ title }}
    </title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{url}}img/about.jpg">
    <meta property="og:site_name" content="Portfolio Olaf T.A. Janssen">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ url }}about">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/css/simple-portfolio.css">
</head>
<body class="typeset">

<nav class="nav-panel">
    <h1>Olaf T.A. Janssen</h1>
    <ul>
        <li>
            <a href="/about" class="current">Me</a>
        </li>
        <li>
            <a href="/">Thingamabobs</a>
        </li>
    </ul>
</nav>

<section class="project-content">
    <figure class="about-image"></figure>
    <article class="about">
{{{ contents }}}
    </article>
</section>

</body>
</html>

<script>

</script>