<!DOCTYPE html>
<html>

<head>
    <title>
        {{ title }}
    </title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{url}}img/about.jpg">
    <meta property="og:site_name" content="Portfolio Olaf T.A. Janssen">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ url }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/simple-portfolio.css">
</head>

<body class="typeset">

<nav class="nav-panel">
    <h1>Olaf T.A. Janssen</h1>
    <ul>
        <li>
            <a href="/about">Me</a>
        </li>
        <li>
            <a href="/" class="current">Projects</a>
        </li>
    </ul>
</nav>

<section class="project-container">
    {{#each collections.projects}}{{#if tag}}{{#if contents}}
    <article class="project-full">
        <a href="projects/{{ tag }}">
            <h3>
                <div class="project-thumb"
                     style="background-image:url('img/thumbs/{{ image }}'); background-position:center; background-size:cover;"></div>
                {{ title }}
            </h3>
        </a>
        <p class="project-full-blurp">{{ description }}
            <time>{{#if start-date}}({{ start-date }} &mdash;){{/if}} {{ date }}</time>
        </p>
    </article>
    {{/if}}{{/if}}{{/each}}
</section>

<div class="dark">
<section class="project-container">
    <h2>The Dark Abyss of Unfinished Content</h2>
    {{#each collections.projects}}{{#if tag}}{{#if contents}}{{else}}
    <article class="project-full">
        <a href="projects/{{ tag }}">
            <h3>
                <div class="project-thumb"
                     style="background-image:url('img/thumbs/{{ image }}'); background-position:center; background-size:cover;"></div>
                {{ title }}
            </h3>
        </a>
        <p class="project-full-blurp">{{ description }}
            <time>{{ date }}</time>
        </p>
    </article>
    {{/if}}{{/if}}{{/each}}
</section>
</div>

</body>

</html>
